
@{
    ViewBag.Title = "Index";
}

<h2>this is Index.cshtml page</h2>
<h2>---------------------------------------------------------------------</h2>
<h2>1. string type</h2>
<h3>@ViewBag.msg</h3>
<h2>---------------------------------------------------------------------</h2>
<h2>2. Int type</h2>
<h3>@ViewBag.num</h3>
<h2>---------------------------------------------------------------------</h2>
<h2>3. Array type</h2>

@{
    foreach (var i in ViewBag.fruits)
    {
        <h3>@i</h3>

    }
}


<h2>3. Array type2</h2>

@{
    foreach (var i in ViewBag.f2)
    {
        <h3>@i</h3>

    }
}
<h2>---------------------------------------------------------------------</h2>
<h2>4. List type</h2>

@{
    foreach (var i in ViewBag.games)
    {
        <h3>@i</h3>

    }
}

<h2>---------------------------------------------------------------------</h2>
<h2>5. Object type</h2>

@{
    <h3>@ViewBag.emp.Emp_id</h3>
    <h3>@ViewBag.emp.Emp_name</h3>
}