@model iassess.Models.Employee
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Index","Home"))
{
    <p>
        @Html.LabelFor(model=>model.id) &nbsp; @Html.TextBoxFor(model=>model.id)
        @Html.ValidationMessageFor(model => model.id)
    </p>
    <p>
        @Html.LabelFor(model => model.name) &nbsp; @Html.TextBoxFor(model => model.name)
        @Html.ValidationMessageFor(model => model.name)
        
    </p>
    <p>
        @Html.LabelFor(model => model.age) &nbsp; @Html.TextBoxFor(model => model.age)
        @Html.ValidationMessageFor(model => model.age,"*",new {@class="text-danger"})
    </p>

    <p>
        @Html.LabelFor(model => model.tax) &nbsp; @Html.TextBoxFor(model => model.tax)
        @Html.ValidationMessageFor(model => model.tax, "*", new { @class = "text-danger" })
    </p>

    <input type="submit" value="submit" class="btn btn-info"/>

    @Html.Raw(ViewBag.code)
}
